target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

.env
.gitignore
.github
*.md
.git/
.gitignore
.gitattributes
.github/
.gitlab-ci.yml
Jenkinsfile
.DS_Store
Thumbs.db
*.log
*.tmp
coverage/
test-output/
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
build/
!build/libs/*.jar
.gradle/
gradle/
gradlew
gradlew.bat
