<div>
  <div class="table-responsive mt-3">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contributor of project?.contributors">
          <td>{{ contributor?.userName }}</td>
          <td>{{ contributor?.userEmail }}</td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <span
                class="badge"
                [ngStyle]="{
                  'background-color': getRoleLabel(contributor.role).color
                }"
                >{{ getRoleLabel(contributor.role).label }}</span
              >
              <!-- Dropdown modification rôle -->
              <div ngbDropdown class="d-inline-block position-static">
                <button
                  class="btn btn-sm btn-secondary px-2 py-0"
                  ngbDropdownToggle
                  id="contributorRole"
                  style="font-size: 0.75rem"
                >
                  Modifier
                </button>

                <div ngbDropdownMenu>
                  <button
                    ngbDropdownItem
                    *ngFor="let role of roles"
                    [hidden]="role === contributor?.role"
                    (click)="onUpdateContributorRole(contributor, role)"
                  >
                    {{ getRoleLabel(role).label }}
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <button
              class="btn btn-sm btn-danger"
              (click)="onDeleteContributor(contributor)"
            >
              Retirer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
