<div>
  <div class="table-responsive mt-3">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Statut</th>
          <th>Priorité</th>
          <th>Date d'échéance</th>
          <th>Date de fin</th>
          <th>Assigné à</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>
            <span
              class="badge"
              [ngStyle]="{
                'background-color': getStatusLabel(task.status).color
              }"
              >{{ getStatusLabel(task.status).label }}</span
            >
          </td>
          <td>
            <span
              class="badge"
              [ngStyle]="{
                'background-color': getPriorityLabel(task.priority).color
              }"
              >{{ getPriorityLabel(task.priority).label }}</span
            >
          </td>
          <td>{{ task.dueDate }}</td>
          <td>{{ task.endDate }}</td>
          <td>{{ getAssigneesNames(task) }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="viewTask(task)">
              Voir
            </button>
            <button
              class="btn btn-sm btn-danger ms-2"
              (click)="onTaskDeleted(task)"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-task-modal
    [isOpen]="isModalOpen"
    [mode]="modalMode"
    [task]="selectedTask"
    [project]="project"
    (closed)="closeModal()"
    (saved)="onTaskSaved($event)"
  ></app-task-modal>
</div>
