.badge {
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.column-title {
  width: 15%;
}

.description-title {
  width: 20%;
  max-width: 40%;
}

.rounded-table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #dee2e6;
  margin-bottom: 4%;
}

.rounded-table thead tr:first-child th:first-child {
  border-top-left-radius: 12px;
}

.rounded-table thead tr:first-child th:last-child {
  border-top-right-radius: 12px;
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.table th,
.table td {
  padding: 0.6rem 0.75rem;
}
