<div *ngIf="isOpen" class="custom-backdrop">
  <div class="custom-modal">
    <div class="modal-header">
      <h5 class="modal-title">Créer un projet</h5>
      <button type="button" class="btn-close" (click)="close()"></button>
    </div>

    <form [formGroup]="projectCreationForm" (ngSubmit)="onSubmit()">
      <div formGroupName="projectData">
        <div class="input-group mt-3 mb-3">
          <label class="input-group-text" for="name">Nom du projet</label>
          <input
            id="inputName"
            class="form-control"
            formControlName="name"
            placeholder="Mon super projet"
            type="text"
          />
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="description">Description</label>
          <textarea
            id="inputDescription"
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="startDate">Date de début</label>
          <input
            id="inputDate"
            class="form-control"
            formControlName="startDate"
            placeholder="2025-10-23"
            type="date"
          />
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()">Annuler</button>
        <button class="btn btn-primary ms-3" type="submit">Valider</button>
      </div>
    </form>
  </div>
</div>
