<nav class="navbar header bg-primary">
  <div class="container-fluid">
    <div>
      <button class="btn btn-danger" (click)="logOut()">Déconnexion</button>
      <button class="btn btn-light" (click)="goToHomePage()">
        Mes Projets
      </button>
    </div>
  </div>
</nav>

<!-- Chargement -->
<div *ngIf="loading" class="text-center mt-4">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
</div>

<div *ngIf="!loading" class="container mt-4">
  <h1 class="mb-4">{{ project?.name }}</h1>
  <h2 class="mb-4">{{ project?.description }}</h2>

  <!-- Boutons d'ajout -->
  <div class="mb-4 d-flex justify-content-start">
    <button
      class="btn btn-primary"
      *ngIf="userRole !== 'OBSERVATEUR' && activeTab === 'tasks'"
      (click)="openTaskModalFromParent()"
    >
      + Ajouter une tâche
    </button>

    <button
      class="btn btn-primary"
      *ngIf="userRole === 'ADMINISTRATEUR' && activeTab === 'members'"
      (click)="showAddContributorBlock()"
    >
      + Ajouter un membre
    </button>
  </div>

  <!-- Form d'ajout de contributeur -->
  <div *ngIf="showMemberForm" class="mb-4 form-container">
    <div class="custom-modal add-member-form">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un contributeur</h5>
        <button
          type="button"
          class="btn-close"
          (click)="hideAddContributorBlock()"
        ></button>
      </div>

      <form
        [formGroup]="addContributorForm"
        (ngSubmit)="onContributorAdded()"
        [ngClass]="{ submitted: isContributorSubmitted }"
      >
        <div formGroupName="contributorData">
          <div class="input-group mt-3 mb-3">
            <label class="input-group-text" for="email">Email</label>
            <input
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="utilisateur@exemple.com"
              type="email"
            />
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="role">Rôle</label>
            <select id="role" class="form-select" formControlName="role">
              <option [value]="Role.ADMINISTRATEUR">
                {{ getRoleLabel(Role.ADMINISTRATEUR).label }}
              </option>
              <option [value]="Role.MEMBRE">
                {{ getRoleLabel(Role.MEMBRE).label }}
              </option>
              <option [value]="Role.OBSERVATEUR">
                {{ getRoleLabel(Role.OBSERVATEUR).label }}
              </option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            (click)="hideAddContributorBlock()"
          >
            Annuler
          </button>
          <button class="btn btn-primary ms-3" type="submit">Ajouter</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Onglets -->
  <ul class="nav nav-tabs" id="projectTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="activeTab === 'tasks'"
        id="taches-tab"
        data-bs-toggle="tab"
        data-bs-target="#taches"
        type="button"
        role="tab"
        aria-controls="taches"
        [attr.aria-selected]="activeTab === 'tasks'"
        (click)="setActiveTab('tasks')"
      >
        Tâches
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [class.active]="activeTab === 'members'"
        id="membres-tab"
        data-bs-toggle="tab"
        data-bs-target="#membres"
        type="button"
        role="tab"
        aria-controls="membres"
        [attr.aria-selected]="activeTab === 'members'"
        (click)="setActiveTab('members')"
      >
        Membres
      </button>
    </li>
  </ul>

  <div class="tab-content" id="projectTabsContent">
    <!-- Onglet Tâches -->
    <div
      class="tab-pane fade"
      [class.show]="activeTab === 'tasks'"
      [class.active]="activeTab === 'tasks'"
      id="tasks"
      role="tabpanel"
      aria-labelledby="tasks-tab"
    >
      <app-project-tasks
        #tasksComponent
        *ngIf="activeTab === 'tasks'"
        [loading]="loading"
        [project]="project"
        [tasks]="tasks"
        [showAddForm]="showTaskForm"
        (taskAdded)="onTaskAdded($event)"
        (taskUpdated)="onTaskUpdated($event)"
        (taskDeleted)="onTaskDeleted($event)"
        (formClosed)="showTaskForm = false"
      ></app-project-tasks>
    </div>

    <!-- Onglet Membres -->
    <div
      class="tab-pane fade"
      [class.show]="activeTab === 'members'"
      [class.active]="activeTab === 'members'"
      id="members"
      role="tabpanel"
      aria-labelledby="members-tab"
    >
      <app-project-members
        *ngIf="activeTab === 'members'"
        [project]="project"
        [currentUserRole]="userRole"
        [showAddForm]="showMemberForm"
        (contributorDeleted)="onContributorDeleted($event)"
        (contributorRoleUpdated)="onContributorRoleUpdated($event)"
        (formClosed)="showMemberForm = false"
      ></app-project-members>
    </div>
  </div>
</div>
